.product-item.col-sm-12.col-md-12
  - @products.each do |product|
    .item.col-sm-3.col-md-3
      .product
        = link_to product_path(id: product.id) do
          .image
            = image_tag "http://mydeal.vn/images/uploaded/282x173/b9a3c8e3c410849f0ee00b47092c763c.jpg", width: "100%"
          %h3
            = product.title
        .summary
          .price
            100.000
            %sup Đ
          %button.btn.btn-primary
            Mua ngay