ol, ul{list-style:none;}
a {color: #555}
a:hover{text-decoration: none;color: #555;}
header {
  background: asset-url('bg_header.png') #003C0D;

  .top {
    background: hsla(105, 65%, 15%, 0.99);
    height: 40px;
    color: white;
    line-height: 40px;

    .user-bar {
      float: right
    }
    a {
      margin-left: 5px
    }
  }
}
#main-nav {
  height: 50px;
  line-height: 50px;
  background: #11711C;
  box-shadow: 0 1px 3px rgba(0,0,0,.5);
  margin-bottom: 10px;
  #logo {
    margin-left: 20px;
    width: 10%;
    float: left;
    font-weight: bold;
    font-size: 20px;
    @media screen and (max-width: 750px) {
      width: 100px;
    }
    .arrowdown {
      width: 10px;
      height: 7px;
      display: inline-block;
      background: asset-url('icon_arrowdown.png') no-repeat;
    }
    a {
      color: white;
    }
  }
  #categories {
    width: 90%;
    margin-right: 20px;
    ul {
      a {
          color: white;
        }
      li {
        cursor: pointer;
        padding: 0 2% 0 2%;
        display: inline-block;
      }
      li:hover {
        background: #265607;
      }
      .active {
        background: #265607;
      }
    }
  }

  #menu-box {
    width: 250px;
    position: absolute;
    margin-top: 40px;
    line-height: 30px;
    padding: 0px 15px;
    border-radius: 2px;
    box-shadow: 0 1px 3px rgba(0,0,0,.5);

    ul {
      position: relative;
      overflow: hidden;
      li {
        float: left;

        a {
          padding: 0px 15px;
        }
      }
    }
  }
}

#main {
  .product-item {
    padding: 0;
    .item {
      padding: 5px 5px 20px 5px;
      .product {
        color: #555;
        transition: all .1s linear;
        box-shadow: 0 1px 3px rgba(0,0,0,.3);
        border: 1px solid #fff;
        background: #fff;
      }
      .product:hover {
        box-shadow: 0 2px 5px rgba(0,0,0,.7);
        transition: all .1s linear;
      }
      @media (max-width: 999px) {
        width: 50%;
      }
      @media (max-width: 767px) {
        width: 100%;
      }
      img:hover {
        transform: scale(1.05);
        -webkit-transform: scale(1.05);
        -moz-transform: scale(1.05);
        -o-transform: scale(1.05);
        transition: all .2s ease-out;
      }
      .image {
        display: block;
        overflow: hidden;
        width: 100%;
        background: #f5f5f5;
      }
      h3 {
        display: block;
        margin: 10px 0px 0px 0px;
        padding: 0px 10px 10px 10px;
        font-size: 15px;
      }
      .summary {
        height: 40px;
        padding: 0px 10px 10px 10px;
        .price {
          line-height: 40px;
          position: relative;
          float: left;
          color: #41880E;
          font-weight: bold;
          font-size: 18px;
        }
        button {
          position: relative;
          float: right;
        }
      }
    }
  }
}
@media (max-width: 767px) {
  #body {
    .container {
      padding: 5px;
    }
  }
}

#breadcrumb {
  padding-bottom: 10px;
  border-bottom: 1px solid hsla(0, 1%, 27%, 0.38);
}
.product-detail {
  padding-top: 10px;
  .photo-viewer {
    display: block;
    float: left;
    text-align: center;
    .photo-holder {
      display: block;
      width: 100%;
      height: 100%;
      overflow: hidden;
      #bigPic {
        width: 100%;
        height: auto;
        padding: 1px;
        margin-bottom: 5px;
        @media (max-width: 999px) {
          width: 100%;
        }
        img {
          width: 100%;
        }
      }
      @media (max-width: 999px) {
        ul#thumbs {
          display: none;
        }
      }
      ul#thumbs {
        padding: 0;
        list-style: none;
        li {
          float: left;
          margin-right: 5px;
          border: 1px solid #CCC;
          padding: 3px;
          cursor: pointer;
        }
      }
    }
  }
  .product-info {
    h1 {
      margin: 0;
      font-size: 25px;
      font-weight: bold;
    }
    .row {
      padding: 10px 0px;
      @media (min-width: 768px) {
        padding: 10px 0px 0px 20px;
      }
    }
    .size-color {
      padding: 10px;
      border-top: 1px solid #CCC;
      span {
        display: inline-block;
        img {
          width: 20%;
          height: auto;
          margin-right: 30px;
        }
      }
      span:first-child {
        width: 50%;
      }
    }
    .size-color:last-child {
      border-bottom: 1px solid #CCC;
    }
    .price-buy {
      padding: 10px;
      .price {
        float: left;
        font-weight: bold;
        color: red;
        font-size: 40px;
      }
      button {
        float: right;
      }
    }
  }
}