!!!
%html
  %meta{:content => "width=device-width, initial-scale=1.0, user-scalable=no", :name => "viewport"}/
  %head
    %title Mydeal
    = stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true
    = javascript_include_tag 'application', 'data-turbolinks-track' => true
    = csrf_meta_tags
  %body
    %header
      .top
        .container
          .user-bar
            %a{href: ""} Đăng nhập
            %a{href: ""} Đăng ký
    #main-nav
      .container
        .row
          #logo
            %a{href: root_path}
              Favor.vn
          #categories
            %ul
              - @categories.each do |cat|
                = link_to category_path(id: cat.id) do
                  %li{class: ((cat.id == params[:id].to_i)) ? "active" : ""}
                    = cat.name
    #main
      .container
        = yield